:root {
  --branding-color: #ed5b76;
  --heading-font-family: "Noto Sans KR", sans-serif;
  --default-font-family: "Roboto", serif;
}

body {
  background-color: #f1efee;
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: black;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 28px;
  font-family: "Roboto", serif;
  text-transform: uppercase;
  font-weight: bold;
}

p {
  font-family: "Roboto", serif;
  font-size: 22px;
  color: black;
  margin: 0px;
}

.caption p {
  font-size: 16px;
  margin: 0px;
}

.caption h3 {
  font-size: 24px;
}

img {
  border-radius: 20px;
  display: block;
}

.project-link {
  color: var(--branding-color);
  text-decoration: none;
}

.contact-link {
  font-size: 30px;
  color: var(--branding-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #1b36ca;
}

.homepage-hero {
  margin: 22px 0px;
}

.hero {
  margin: 30px 1px;
}

.border-black {
  border-color: 2px black;
}

.background-pink {
  background: linear-gradient(
    83deg,
    rgba(255, 255, 255, 1) 20%,
    rgba(237, 91, 119, 1) 75%
  );
}

.background-red {
  background: linear-gradient(
    90deg,
    rgba(245, 26, 4, 1) 0%,
    rgba(237, 102, 90, 1) 100%
  );
}

.background-yellow {
  background: linear-gradient(
    90deg,
    rgba(236, 100, 88, 1) 0%,
    rgba(244, 168, 35, 1) 30%,
    rgba(239, 206, 11, 1) 100%
  );
}

.background-red-reverse {
  background: linear-gradient(
    90deg,
    rgba(237, 102, 90, 1) 0%,
    rgba(251, 238, 236, 1) 90%
  );
}

.background-blue {
  background: linear-gradient(
    90deg,
    rgba(23, 50, 201, 1) 0%,
    rgba(255, 255, 255, 1) 99%
  );
}

.background-spiral {
  background: radial-gradient(
    circle,
    rgba(237, 91, 119, 1) 0%,
    rgba(255, 255, 255, 1) 42%
  );
}

.background-white {
  background-color: #f8f8f8;
}

.finger {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

.background-image {
  width: 100%;
}

.home-emoji {
  font-size: 40px;
}

@media (max-width: 992px) {
  h1,
  h2,
  h3 {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
    text-align: center;
  }

  h2 {
    font-size: 20px;
    text-align: center;
  }

  h3 {
    font-size: 18px;
    text-align: center;
  }

  p {
    font-size: 18px;
  }
}
